.main-container {
  flex-direction: column;
}
.main-container > * {
  min-width: 100%;
}
.container {
  margin: 1rem 0.4rem;
}

@media (min-width: 850px) {
  .main-container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
  }
  .container {
    margin: 2rem 1rem;
  }
}
