html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
::selection {
  color: $black;
  background: $tertiary;
}
h1,
h2 {
  font-family: 'Shrikhand', cursive;
}
