.main-sections {
  padding: 2.2rem 1.4rem;
}

@media (min-width: $baby-bear) {
  .main-sections {
    padding: 4rem;
  }
}

@media (min-width: $mama-bear) {
  .main-sections {
    padding: 10rem 0;
  }
}
