.section-tuto {
  font-size: 0.8rem;
  font-weight: 700;

  &__header {
    margin-bottom: 1.3rem;
  }

  &__card {
    position: relative;
    margin-bottom: 1.1rem;

    &--purple {
      background: rgba(146, 86, 220, 0.15);
    }
  }
  &__number {
    position: absolute;
    left: -0.5rem;
    background: $primary;
    color: #fff;
    font-size: 0.65rem;
    border-radius: 50%;
    padding: 0.2rem 0.3rem;
  }
  &__icon {
    font-size: 0.8rem;
    text-align: center;
    bottom: 1.43rem;
    &--purple {
      color: $primary;
    }
  }
}

@media (min-width: $baby-bear) {
  .section-tuto {
    font-size: 1rem;

    &__card {
      margin-bottom: 1.9rem;
      padding-left: 3.6rem;
    }

    &__number {
      font-size: 0.85rem;
      padding: 0.2rem 0.4rem;
      width: auto;
      height: auto;
    }

    &__icon {
      bottom: 1.55rem;
    }
  }
}

@media (min-width: $mama-bear) {
  .section-tuto {
    &__header {
      margin-bottom: 2rem;
    }
    &__cards-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem;
    }
    &__card {
      text-align: center;
      padding-left: 0;
      min-width: 16rem;
      max-width: 40%;
      flex: 1;
    }
    &__number {
      top: -0.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
