.section-restaurants {
  background: $light-grey;
  scroll-behavior: smooth;

  &__header {
    margin-bottom: 1.3rem;
  }
  &__card {
    position: relative;
    background: #fff;
    border-radius: 0.8rem;
    margin-bottom: 0.9rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  &__new {
    position: absolute;
    background: $tertiary;
    color: #047c5e;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.4rem 1.2rem;
    border-radius: 0.2rem;
    right: 13px;
    top: 13px;
  }
  &__image {
    height: 8.5rem;
    object-fit: cover;
    border-radius: 0.8rem 0.8rem 0 0;

    &--the-full-palette {
      object-position: 0 100%;
    }
    &--the-enchanted-plate {
      object-position: 0 60%;
    }
    &--bastille {
      object-position: 0 90%;
    }
    &--le-gourmand {
      object-position: 0 85%;
    }
  }
  &__card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  &__captions {
    display: flex;
    flex-direction: column;
  }
  &__name {
    margin-bottom: 0.3rem;
    font-weight: 900;
    font-size: 0.9rem;
  }
  &__location {
    font-size: 0.9rem;
    color: $light-black;
  }
  &__heart-container {
    transform: scaleY(1.2);
  }
  &__checkbox {
    display: none;

    &:checked ~ .section-restaurants__full-heart {
      transform: scale(1.05);
      transition: all 800ms ease-in-out;
    }
  }
  &__empty-heart {
    font-size: 18px;
    color: #999;
    display: none;
    transition: color 150ms ease-in-out;
    cursor: pointer;

    &:hover {
      color: $secondary;
    }
  }
  &__full-heart {
    font-size: 18px;
    position: absolute;
    right: 0;
    color: $secondary;
    transform: scaleY(0);
    cursor: pointer;
  }
}

@media (min-width: $baby-bear) {
  .section-restaurants {
    &__card {
      margin-bottom: 1.9rem;
    }
    &__image {
      height: 12rem;
      &--the-full-palette {
        object-position: 0 75%;
      }
    }
  }
}
@media (min-width: $mama-bear) {
  .section-restaurants {
    &__header {
      margin-bottom: 2rem;
    }
    &__cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__card {
      max-width: 48%;
      margin-bottom: 2.7rem;
      flex: auto;
    }
  }
}
